Flask
future
MarkupSafe
Werkzeug
Jinja2
click
itsdangerous
httplib2
oauth2
configparser
argparse
gevent
greenlet
certifi
urllib3
six
pyparsing
idna
blueprint
requests
tldextract
colorama
setuptools
filelock
boto3
botocore
s3transfer
jmespath
python-dateutil
pytest