Flask
Jinja2
MarkupSafe
Werkzeug
argparse
blueprint
boto3
botocore
certifi
click
colorama
configparser
filelock
future
gevent
greenlet
httplib2
idna
itsdangerous
oauth2
pyparsing
requests
setuptools
six
tldextract
urllib3
